@model ProjectWork.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-12">
    <h2 class="mb-2 page-title">@ViewBag.Title</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/UsersManage/Index">Quản lý người dùng</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <div class="row my-4">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-body">
                    @using (Html.BeginForm("Edit", "UsersManage", FormMethod.Post, new { @enctype = "multipart/form-data"}))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.user_id)
                        @Html.HiddenFor(model => model.user_active)
                        @Html.HiddenFor(model => model.user_datecreate)
                        @Html.HiddenFor(model => model.user_datelogin)
                        @Html.HiddenFor(model => model.user_del)

                        <div class="form-horizontal">
                            <div class="form-group">
                                <b class="control-label col-md-2">Email</b>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.user_email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.user_email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Mật khẩu</b>
                                <div class="col-md-12">
                                    <input type="text" name="user_pass" class="form-control" value="@Model.user_pass"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Tên hiển thị</b>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.user_name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                @Html.LabelFor(model => model.user_datecreate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.user_datecreate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.user_datecreate, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                            @*<div class="form-group">
                            @Html.LabelFor(model => model.user_datelogin, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.user_datelogin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.user_datelogin, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                            <div class="form-group">
                                <b class="control-label col-md-2">Ảnh cá nhân</b>
                                <div class="col-md-12">
                                    <input type="file" name="file_img" class="form-control" value="@Model.user_img"/>
                                    @Html.ValidationMessageFor(model => model.user_img, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Giới tính</b>
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.user_sex, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.user_sex, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Sở thích</b>
                                <div class="col-md-12">
                                    <textarea class="form-control" name="user_interests"></textarea>
                                    @Html.ValidationMessageFor(model => model.user_interests, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-12">
                                    <input type="submit" value="Lưu thay đổi" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div> <!-- simple table -->
    </div> <!-- end section -->
</div>
