@using ProjectWork.Models;
@model IEnumerable<ProjectWork.Models.User>

@{
    ViewBag.Title = "Danh sách ứng viên";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    DataWork_projectEntities db = new DataWork_projectEntities();
}
@{
    List<Category> categories = db.Categories.ToList();
    List<Province> provinces = db.Provinces.ToList();
    List<Form> forms = db.Forms.ToList();
    List<Sex> sexes = db.Sexes.ToList();
    List<Position> positions = db.Positions.ToList();
    List<ExpYear> expYears = db.ExpYears.ToList();


    List<WorkCategory> workCategory = db.WorkCategories.ToList();
    List<WorkProvince> workProvinces = db.WorkProvinces.ToList();
    var c = "|";
}

<div class="col-12" ng-app="myModule">
    <h2 class="mb-2 page-title">@ViewBag.Title</h2>
    <div class="row my-4" ng-controller="myControllerUser">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-9">
                            <button onclick="window.location.href='/Admin/UsersManage/create'" class="btn btn-danger">Thêm ứng viên</button>
                        </div>
                        <div class="col-lg-3">
                            <select class="form-control search" ng-model="textSearch.del" style="float: right">
                                <option value="">Hiển thị</option>
                                <option value="true">Thùng rác</option>
                            </select>
                        </div>
                    </div>
                    <!-- table -->
                    <style>
                        .sortorder:after {
                            content: '\25bc';
                        }

                        .sortorder.reverse:after {
                            content: '\25b2';
                        }
                    </style>
                    <table class="table datatables mt-3" id="dataTable-1">
                        <thead class="bg-dark font-weight-bold">
                            <tr>
                                <th>#</th>
                                <th>Hình ảnh</th>
                                <th>Tên hiển thị</th>
                                <th>Email</th>
                                <th>Mật khẩu</th>
                                <th>Tình trạng</th>
                                <th>Ngày tạo</th>
                                <th>Ngày đăng nhập</th>
                                <th><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 100px"><input type="text" placeholder="Mã" class="form-control" ng-model="textSearch.id" /></td>
                                <td></td>
                                <td><input type="text" placeholder="Tên ứng viên" class="form-control" ng-model="textSearch.name" /></td>
                                <td><input type="text" placeholder="Email ứng viên" class="form-control" ng-model="textSearch.email" /></td>
                                <td></td>
                                <td style="width: 150px">
                                    <select class="form-control search" ng-model="textSearch.ac">
                                        <option value="">Tất cả trạng thái</option>
                                        <option value="True">Hiển thị</option>
                                        <option value="False">Không hiển thị</option>
                                    </select>
                                </td>
                                <td><input type="date" placeholder="Email ứng viên" class="form-control" ng-model="" /></td>
                                <td><input type="date" placeholder="Email ứng viên" class="form-control" ng-model="" /></td>
                                <td></td>
                            </tr>
                            <tr ng-repeat="todo in filteredTodos | filter: textSearch">
                                <td>{{todo.id}}</td>
                                <td><img src="~/Images/User/{{todo.img}}" style="width: 50px; height: 50px" /></td>
                                <td>{{todo.name}}</td>
                                <td>{{todo.email}}</td>
                                <td>
                                    <input type="checkbox" ng-model="pa">
                                    <br />
                                    <b ng-show="pa">{{todo.pass}}</b>
                                </td>
                                <td>{{todo.ac}}</td>
                                <td>{{todo.crdate}}</td>
                                <td>{{todo.update}}</td>
                                <td>
                                    <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="text-muted sr-only">Action</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#x{{todo.id}}">Xem</a>
                                        <a class="dropdown-item" href="/Admin/UsersManage/Edit/{{todo.id}}">Sửa</a>
                                        <a class="dropdown-item" href="/Admin/UsersManage/Delete/{{todo.id}}">Xóa</a>
                                    </div>
                                    <!--Xem chi tiết-->
                                    <div class="modal fade" id="x{{todo.id}}" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="defaultModalLabel">Thông tin cá nhân</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row mb-4">
                                                        <div class="col-md-12">
                                                            <div class="card-body text-center">
                                                                <a href="#!" class="avatar avatar-lg">
                                                                    <img src="~/Images/User/{{todo.img}}" alt="..." class="avatar-img rounded-circle">
                                                                </a>
                                                                <div class="card-text my-2">
                                                                    <strong class="card-title my-0">{{todo.name}} </strong>
                                                                    <p class="small text-muted mb-0">{{todo.email}}</p>
                                                                    <div><b>Mật khẩu:</b> {{todo.pass}}</div>
                                                                    <hr />
                                                                    <div><b>Mã ứng viên: </b>{{todo.id}}</div>
                                                                    <div><b>Giới tính: </b>Chưa có</div>
                                                                    <div><b>Sở thích: </b>Chưa có</div>
                                                                    <hr />
                                                                    <div><b>Tình trạng: </b>{{todo.ac}}</div>
                                                                    <div><b>Ngày tạo: </b>{{todo.crdate}}</div>
                                                                    <div><b>Ngày đăng nhập: </b>{{todo.update}}</div>
                                                                </div>
                                                            </div> <!-- ./card-text -->
                                                            <div class="card-footer">
                                                                <div class="row align-items-center justify-content-between">
                                                                    <div class="col-auto">
                                                                        <small>
                                                                            <span class="dot dot-lg bg-success mr-1"></span> Online
                                                                        </small>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Đóng</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <center>
                        <pagination ng-model="currentPage"
                                    total-items="todos.length"
                                    max-size="maxSize"
                                    boundary-links="true">
                        </pagination>
                    </center>
                </div>
            </div>
        </div> <!-- simple table -->
    </div> <!-- end section -->
</div>

<script>
    var todos = angular.module('myModule', ['ui.bootstrap']);

    todos.controller('myControllerUser', function ($scope) {
        $scope.filteredTodos = []
            , $scope.currentPage = 1
            , $scope.numPerPage = 15
            , $scope.maxSize = 5;

        $scope.makeTodos = function () {
            $scope.todos = [
                @foreach (var item in Model.OrderByDescending(n => n.user_datecreate))
                {
                    @: { id: @item.user_id, email: "@item.user_email",pass: "@item.user_pass", ac: "@item.user_active", del: "@item.user_del",crdate: "@item.user_datecreate",update: "@item.user_datelogin", img: "@item.user_img",name: "@item.user_name"},
                }
            ];

        };
        $scope.makeTodos();

        $scope.$watch('currentPage + numPerPage', function () {
            var begin = (($scope.currentPage - 1) * $scope.numPerPage)
                , end = begin + $scope.numPerPage;

            $scope.filteredTodos = $scope.todos.slice(begin, end);
        });
    });
</script>
