@using ProjectWork.Models;
@model User
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');height: 257px !important" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-12 ftco-animate text-center mb-5" style="height: 200px">
                <p class="breadcrumbs mb-0"><span class="mr-3"><a href="@Url.Action("","")">Trang chủ <i class="ion-ios-arrow-forward"></i></a></span> <span>@ViewBag.Title</span></p>
                <h1 class="mb-3 bread">Đổi mật khẩu</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section contact-section bg-light">
    <div class="container" style="max-width: 1400px">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-lg-8">
                <div class="card shadow" style="padding: 20px">
                    @*<div class="alert alert-danger">
                        <span id="tb"></span>
                    </div>*@
                    <b style="color: green"><i class="fa fa-key">&nbsp;</i>Đổi mật khẩu</b>
                    <form onsubmit="return checkResetPass()" class="ui form" action="@Url.Action("ResetPassword")" method="post">
                        <div class="field">
                            <label>Mật khẩu cũ</label>
                            <input type="password" class="form-control" name="OldPassword" id="OldPassword" placeholder="Nhập mật khẩu cũ" />
                        </div>
                        <div class="field">
                            <label>Mật khẩu mới</label>
                            <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" placeholder="Xác thực mật khẩu" />
                        </div>
                        <div class="field">
                            <label>Xác nhận mật khẩu</label>
                            <input type="password" class="form-control" name="NewPassword" id="NewPassword" placeholder="Nhập mật khẩu mới" />
                        </div>
                        <div class="ui error message"></div>
                        <input type="submit" value="Lưu thay đổi" class="btn btn-danger button mt-3" style="width: 150px;"/>
                    </form>

                    <input type="hidden" name="Pass" id="pass" value="@Model.user_pass" />
                    <script>
                        function checkResetPass() {
                            let pass = document.getElementById("pass").value;
                            let oldPass = document.getElementById("OldPassword").value;
                            let confirmPass = document.getElementById("ConfirmPassword").value;


                            document.getElementById("tb").innerText = "";

                            if (pass != oldPass) {
                                document.getElementById("tb").innerText = "Mật khẩu ko đúng";
                                return false;
                            }
                            return true;
                        }

                    </script>
                </div>
            </div>
            <div class="col-lg-4">
                @Html.Action("Manager","View")
            </div>
        </div>
    </div>
</section>
