@model ProjectWork.Models.Cv

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Cv</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.cv_fullname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cv_fullname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cv_location)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cv_location)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cv_birth)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cv_birth)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cv_phone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cv_phone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cv_email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cv_email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cv_addpress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cv_addpress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cv_website)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cv_website)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cv_target)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cv_target)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cv_interests)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cv_interests)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cv_information)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cv_information)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cv_title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cv_title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cv_img)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cv_img)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Theme.theme_title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Theme.theme_title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sex.sex_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sex.sex_name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.cv_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
