@using ProjectWork.Models;
@{
    DataWork_projectEntities db = new DataWork_projectEntities();

}
@{
    List<Theme> theme = db.Themes.ToList();
    User user = (User)Session["member"];

}
<div class="row linezero" id="show_line">
    <div class="col-lg-8 most-recent">
        <div class="row">
            <div class="col-md-12 item size15" id="show_size">
                <div class="row" id="show_font">
                    <div class="col-lg-3" onmousemove="PersonalInformation()">
                        <div class="">
                            <img src="~/Images/Cv/profile_user_information-04-512.png" class="w-100 shadow" style="height: 160px" id="output_image">
                            <div class="btn blue-gradient btn-sm w-100" style="margin-left: -1px; margin-top: 1px">
                                <span><i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>Chọn ảnh cá nhân</span>
                                <input type="file" multiple class="w-100" accept="image/*" onchange="preview_image(event)" name="cv_img">
                            </div>
                        </div>
                        <script>
                            function preview_image(event) {
                                var reader = new FileReader();
                                reader.onload = function () {
                                    var output = document.getElementById('output_image');
                                    output.src = reader.result;
                                }
                                reader.readAsDataURL(event.target.files[0]);
                            }
                        </script>
                    </div>
                    <div class="col-lg-9" style="font-size: 15px" onmousemove="PersonalInformation()">
                        <div class="field">
                            <h1><input type="text" name="cv_fullname" class="font-weight-bold" style="border: none" placeholder="Họ và tên" value="Nguyễn Văn A" /></h1>
                        </div>
                        <div class="field">
                            <p><input type="text" name="cv_location" style="border: none" class="w-100" placeholder="Vị trí công việc muốn ứng tuyển" /></p>
                        </div>
                        <div>
                            <ul class="text-dark">
                                <li><b>Ngày sinh: </b><input type="date" name="cv_birth" style="border: none; margin-left: 29px" /></li>
                                <!--Khóa-->
                                <li><b>Giới tính: </b><b style="margin-left: 40px">@Html.DropDownList("sex_id", null, htmlAttributes: new { @class = "w-50", @style = "border: none" })</b></li>
                                <li><b>Điện thoại: </b><input type="text" placeholder="Số điện thoại" name="cv_phone" style="border: 1px dashed red; margin-left: 30px" class="w-50" /></li>
                                <li class="mt-2"><b>Email: </b><input type="text" placeholder="Email" value="@(user != null ? user.user_email : "")" name="cv_email" style="border: 1px dashed red; margin-left: 60px" class="w-50" /></li>
                                <li class="mt-1"><b>Địa chỉ: </b><input type="text" placeholder="Địa chỉ" name="cv_addpress" style="border: none; margin-left: 48px" class="w-75" value="25/5 Hiệp An" /></li>
                                <li><b>Website: </b><input type="text" placeholder="Link trang cá nhân facebook" name="cv_website" style="border: none; color: darkblue;margin-left: 40px" class="w-75" value="https://www.facebook.com/profile.php?id=100009358125256" /></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-3">
                        <ul style="font-size: 15px" class="text-dark">
                            <li style="border-bottom: 1px solid black;" class="text-dark font-weight-bold">MỤC TIÊU NGHỀ NGHIỆP</li>
                            <li onmousemove="LocationWork()">
                                <textarea name="cv_target" class="form-control" style="border: none; height: 100px">Áp dụng những kinh nghiệm về kỹ năng bán hàng và sự hiểu biết về thị trường để trở thành một nhân viên bán hàng chuyên nghiệp, mang đến nhiều giá trị cho khách hàng. Từ đó giúp Công ty tăng số lượng khách hàng và mở rộng tập khách hàng.</textarea>
                            </li>
                            <li style="border-bottom: 1px solid black;" class="text-dark font-weight-bold">HỌC VẤN</li>
                            <li class="mt-3">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="date" name="cv_datebegineducation" style="border: none;" />
                                        <input type="date" name="cv_dateendeducation" style="border: none;" />
                                    </div>
                                    <div class="col-lg-8">
                                        <ul>
                                            <li><b><input type="text" name="cv_schoolname" style="border: none" class="w-100" placeholder="Tên trường đại học" value="Đại học AllWork1s" /></b></li>
                                            <li>Chuyên nghành: Update</li>
                                            <li>
                                                <!--Khóa-->
                                                Tốt nghiệp loại <b>Chưa có</b>, điểm trung bình <input type="number" name="cv_point" style="border: none; width: 80px" value="10" placeholder="Điểm" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li style="border-bottom: 1px solid black;" class="text-dark mt-5 font-weight-bold">KINH NGHIỆM VIỆC LÀM</li>
                            <li class="mt-3">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="date" name="cv_datebeginexp" style="border: none;" />
                                        <input type="date" name="cv_dateendexp" style="border: none;" />
                                    </div>
                                    <div class="col-lg-8">
                                        <ul>
                                            <li><b><input type="text" name="cv_companyname" value="Công ty Allwork1s" placeholder="Tên công ty" style="border: none" class="w-100" /></b></li>
                                            <li>Nhân viên bán hàng</li>
                                            <li>
                                                <textarea name="cv_contentexp" class="form-control" style="border: none; height: 100px">- Hỗ trợ viết bài quảng cáo sản phẩm qua kênh facebook, các forum,...
- Giới thiệu, tư vấn sản phẩm, giải đáp các vấn đề thắc mắc của khách hàng qua điện thoại và email.</textarea>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="date" name="cv_datebeginexptwo" style="border: none;" />
                                        <input type="date" name="cv_dateendexptwo" style="border: none;" />
                                    </div>
                                    <div class="col-lg-8">
                                        <ul>
                                            <li><b><input type="text" name="cv_companynametwo" value="Công ty Allwork1s" placeholder="Tên công ty" style="border: none" class="w-100" /></b></li>
                                            <li>Nhân viên bán hàng</li>
                                            <li>
                                                <textarea name="cv_contentexptwo" class="form-control" style="border: none; height: 100px">- Hỗ trợ viết bài quảng cáo sản phẩm qua kênh facebook, các forum,...
- Giới thiệu, tư vấn sản phẩm, giải đáp các vấn đề thắc mắc của khách hàng qua điện thoại và email.</textarea>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li style="border-bottom: 1px solid black;" class="text-dark font-weight-bold">HOẠT ĐỘNG</li>
                            <li class="mt-3">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="date" name="cv_datebeginactivate" style="border: none;" />
                                        <input type="date" name="cv_dateendactivate" style="border: none;" />
                                    </div>
                                    <div class="col-lg-8">
                                        <ul>
                                            <li><b>Nhóm tình nguyện TOPCV</b></li>
                                            <li>Tình nguyện viên</li>
                                            <li>
                                                Tập hợp các món quà và phân phát tới người vô gia cư. <br />
                                                - Chia sẻ, động viên họ vượt qua giai đoạn khó khăn, giúp họ có những suy nghĩ lạc quan.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li style="border-bottom: 1px solid black;" class="text-dark font-weight-bold">CHỨNG CHỈ</li>
                            <li class="mt-3">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="date" name="cv_datebegineducation" style="border: none;" />
                                    </div>
                                    <div class="col-lg-8">
                                        <ul>
                                            <li>Giải nhất Tài năng AllWork1s</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li style="border-bottom: 1px solid black;" class="text-dark mt-3 font-weight-bold">GIẢI THƯỞNG</li>
                            <li class="mt-3">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="date" name="cv_datebegineducation" style="border: none;" />
                                    </div>
                                    <div class="col-lg-8">
                                        <ul>
                                            <li>Nhân viên xuất sắc năm công ty TOPCV</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li style="border-bottom: 1px solid black;" class="text-dark mt-3 font-weight-bold">CÁC KỸ NĂNG</li>
                            <li class="mt-3">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <ul>
                                            <li><b>Tin học văn phòng TOPCV</b></li>
                                            <li><b>Tiếng Anh</b></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-8">
                                        <ul>
                                            <li><input class="w-100" type="text" name="cv_IT" value="- Sử dụng thành thạo các công cụ Word, Excel, Power Point" placeholder="Kỹ năng tin hoc" style="border: none" /></li>
                                            <li><input class="w-100" type="text" name="cv_english" value="- Khả năng giao tiếp Tiếng Anh trôi chảy" placeholder="Kỹ năng tiếng anh" style="border: none" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li style="border-bottom: 1px solid black;" class="text-dark mt-3 font-weight-bold">SỞ THÍCH</li>
                            <li class="mt-3">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul>
                                            <li>
                                                <textarea name="cv_interests" class="form-control" style="border: none; height: 100px">Đọc sách - Mỗi tháng đọc 1 quyển sách về kinh doanh.
Đá bóng - Tham gia hoạt động đá bóng của công ty hàng tuần</textarea>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li style="border-bottom: 1px solid black;" class="text-dark mt-3 font-weight-bold">THÔNG TIN THÊM</li>
                            <li class="mt-3">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul>
                                            <li>
                                                <textarea name="cv_information" class="form-control" style="border: none; height: 100px" placeholder="Điền các thông tin khác (nếu có)"></textarea>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!--AA-->
        <!-- //pagination -->
    </div>
    @Html.Action("ButtonPoint", "View", new { id = ViewBag.theme })
    <script>
            function PersonalInformation() {
                document.getElementById("show").innerHTML = '@Html.Action("PersonalInformation","Tutorial")';
            }
            function LocationWork() {
                document.getElementById("show").innerHTML = '@Html.Action("LocationWork","Tutorial")';
            }
    </script>
</div>