@model ProjectWork.Models.Work
@using ProjectWork.Models;
@{
    DataWork_projectEntities db = new DataWork_projectEntities();
    List<Category> categories = db.Categories.Where(t => t.category_del == false).ToList();
    List<Province> provinces = db.Provinces.ToList();
    ViewBag.Title = Model.work_name;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .ck.ck-editor__editable_inline > :last-child {
        margin-bottom: var(--ck-spacing-large);
        height: 200px;
        color: black;
    }

    p {
        color: black;
    }
</style>
<div class="col-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/WorksAdmin">Quản lý việc làm</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sửa việc làm</li>
        </ol>
    </nav>
    <h2 class="mb-2 page-title">@ViewBag.Title</h2>
    <div class="row my-4">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-body">

                    @using (Html.BeginForm("Edit", "WorksAdmin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.work_id)
                            @Html.HiddenFor(model => model.work_dateupdate)
                            @Html.HiddenFor(model => model.work_createdate)
                            @Html.HiddenFor(model => model.work_del)
                            @Html.HiddenFor(model => model.work_img)
                            @Html.HiddenFor(model => model.work_active)
                            @Html.HiddenFor(model => model.work_status)
                            @Html.HiddenFor(model => model.employer_id)
                            @Html.HiddenFor(model => model.work_deadline)

                            <div class="form-group">
                                <b class="control-label col-md-2">Anh</b>
                                <div class="col-md-12">
                                    <input type="file" name="file_img" class="btn btn-danger" />
                                </div>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Tên việc làm</b>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.work_name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.work_name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Hạn nộp</b>
                                <div class="col-md-12">
                                    <input type="date" class="form-control" name="work_deadline" value="@Model.work_deadline" />
                                    @Html.ValidationMessageFor(model => model.work_deadline, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.work_nickname, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.work_nickname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.work_nickname, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.work_phoe, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.work_phoe, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.work_phoe, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.work_email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.work_email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.work_email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Mô tả công việc</b>
                                <div class="col-md-12">
                                    <textarea id="work_description" name="work_description">@Model.work_description</textarea>
                                    @Html.ValidationMessageFor(model => model.work_description, "", new { @class = "text-danger" })
                                </div>
                                <script>
                                    ClassicEditor
                                        .create(document.querySelector('#work_description'))
                                        .catch(error => {
                                            console.error(error);
                                        });
                                </script>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Yêu cầu công việc</b>
                                <div class="col-md-12">
                                    <textarea id="work_request" name="work_request">@Model.work_request</textarea>
                                    @Html.ValidationMessageFor(model => model.work_request, "", new { @class = "text-danger" })
                                </div>
                                <script>
                                    ClassicEditor
                                        .create(document.querySelector('#work_request'))
                                        .catch(error => {
                                            console.error(error);
                                        });
                                </script>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Quyền lợi, thưởng</b>
                                <div class="col-md-12">
                                    <textarea id="work_benefit" name="work_benefit">@Model.work_benefit</textarea>
                                    @Html.ValidationMessageFor(model => model.work_benefit, "", new { @class = "text-danger" })
                                </div>
                                <script>
                                    ClassicEditor
                                        .create(document.querySelector('#work_benefit'))
                                        .catch(error => {
                                            console.error(error);
                                        });
                                </script>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Địa chỉ</b>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.work_address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.work_address, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Lương</b>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.work_money, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.work_money, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Số lượng tuyển</b>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.work_amount, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.work_amount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Tùy chọn</b>
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.work_option, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.work_option, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Lượt xem</b>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.work_view, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.work_view, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.work_dateupdate, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.work_dateupdate, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.work_dateupdate, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.employer_id, "employer_id", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.DropDownList("employer_id", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.employer_id, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@

                            <div class="form-group">
                                <b class="control-label col-md-2">Chức vụ</b>
                                <div class="col-md-12">
                                    @Html.DropDownList("position_id", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.position_id, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Giới tính</b>
                                <div class="col-md-12">
                                    @Html.DropDownList("sex_id", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.sex_id, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Tỉnh thành</b>
                                <div class="col-md-12">
                                    @Html.DropDownList("province_id", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.province_id, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Kinh nghiệm</b>
                                <div class="col-md-12">
                                    @Html.DropDownList("expyear_id", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.expyear_id, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Hình thức</b>
                                <div class="col-md-12">
                                    @Html.DropDownList("form_id", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.form_id, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                <b class="control-label col-md-2">Danh muc</b>
                                <div class="col-md-12">
                                    <select class="ui fluid search dropdown" multiple="" name="cat_id">
                                        @foreach (var item in categories)
                                        {
                                            if (Model.WorkCategories.Where(t => t.category_id == item.category_id).Count() > 0)
                                            {
                                                <option value="@item.category_id" selected>@item.category_name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.category_id">@item.category_name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <b class="control-label col-md-2">Khu vuc</b>
                                <div class="col-md-12">
                                    <select class="ui fluid search dropdown" multiple="" name="pro_id">
                                        @foreach (var item in provinces)
                                        {
                                            if (Model.WorkProvinces.Where(t => t.province_id == item.province_id).Count() > 0)
                                            {
                                                <option value="@item.province_id" selected>@item.province_name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.province_id">@item.province_name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <script>
                                $('.ui.dropdown')
                                    .dropdown()
                                    ;
                            </script>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-12">
                                    <input type="submit" value="Thêm việc làm" class="btn btn-danger" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div> <!-- simple table -->
    </div> <!-- end section -->
</div> <!-- .col-12 -->