@model ProjectWork.Models.Comment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.comment_contents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment_contents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment_datepost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment_datepost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employer.employer_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employer.employer_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.user_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.user_email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.comment_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
