@using ProjectWork.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<Comment>
@{
    var cmt = "contentcmt";
    var rep = "repListNewPage";
}


<h3 class="mb-5">6 Comments</h3>
<ul class="comment-list">
    @foreach (var itemComment in Model)
    {
    <li class="comment" id="@cmt@itemComment.comment_id">
        <div class="vcard bio">
            @if (itemComment.User.user_img == null)
            {
                <img src="~/Content/Layout/images/person_1.jpg" alt="@itemComment.User.user_name">
            }
            else
            {
                <img src="~/Images/User/822711_user_512x512.png" alt="@itemComment.User.user_name">
            }
        </div>
        <div class="comment-body">
            <h3>@itemComment.User.user_name</h3>
            <div class="meta">@itemComment.comment_datepost.Value.ToLongDateString()</div>
            <p>@itemComment.comment_contents</p>
            <p><a data-toggle="collapse" href="#@rep@itemComment.comment_id" role="button" aria-expanded="false" aria-controls="@rep@itemComment.comment_id" class="reply">Trả lời</a></p>

        </div>
        <!--reply-->
        <div class="collapse" id="@rep@itemComment.comment_id">
            <ul class="children" id="@rep@itemComment.comment_id">
                @Html.Action("GetrRepByCommentId", "Replies", new { id = itemComment.comment_id })
            </ul>
        </div>

    </li>
    }
    <li class="comment">
        <div>
            ptbl - @Html.PagedListPager(Model, pagecmt => Url.Action("GetCommentByEmployerId", new { pagecmt }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "commentListNewPage", OnSuccess = "onSuccessCmt()" }))
        </div>
    </li>
</ul>
<script>
    function onSuccessCmt() {
        $('html, body').animate({
            scrollTop: $("#commentListNewPage").offset().top
        }, 500);
    }
</script>